:root {
    --bg-button: #D9D8DC;
    --border-button: solid 1px #F1F1F3;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:hover {
    background-color: #B4B3B9;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #72A4CC;
    color: #FFF;
}

.button.operation:hover {
    background-color: #3890D1;
}